@charset "utf-8";
html {
    overflow-y: scroll
}

html, body {
    height: 100%
}

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body, input, button, select, textarea, table {
    font: 12px/1.5 Tahoma, Helvetica, Arial
}

body {
    background-color: #FFF;
    color: #595959
}

ul, ol {
    list-style: none
}

img {
    vertical-align: top;
    border: 0 none
}

input, select {
    vertical-align: middle
}

label, input[type=button], input[type=submit] {
    cursor: pointer
}

button {
    cursor: pointer;
    overflow: visible;
    padding: 0;
    width: auto;
    border: none;
    background: none
}

textarea {
    overflow: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none
}

a {
    color: #325E7F
}

a:link, a:visited {
    text-decoration: none
}

a:hover, a:active {
    text-decoration: underline
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    display: block;
    clear: both;
    content: "\0020";
    visibility: hidden;
    height: 0
}

* + html img {
    -ms-interpolation-mode: bicubic
}

.position_box1 {
    float: left
}

.position_box2 {
    float: right
}

.size_tx1 {
    font-size: 12px
}

.size_tx2 {
    font-size: 14px
}

.f_tx1 {
    font-family: "Microsoft YaHei";
}

.c_tx1 {
    color: #999
}

.c_tx2 {
    color: #D00000
}


.mod_st {
    overflow: hidden;
    min-width: 1002px;
    height: 45px;
    background: url('../img/bg_mod_st.png') repeat-x 0 0;
    font-size: 12px
}

.mod_st a {
    color: #325E7F;
    text-decoration: none
}

.mod_st a:hover {
    text-decoration: underline
}

.mod_st_main {
    position: relative;
    margin: 0 auto;
    width: 1002px
}

.mod_st_main .mod_st_logo {
    position: absolute;
    left: 5px;
    top: 6px;
    width: 81px;
    height: 30px;
    background: url('../img/bg_mod_st.png') no-repeat 0 -88px
}

.mod_st_main .mod_st_logo a {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 100px
}

.mod_st_main .mod_st_tit {
    display: none
}

.mod_st_main .mod_st_nav {
    overflow: hidden;
    position: absolute;
    left: 95px;
    top: 9px;
    width: 620px;
    height: 26px;
    background: url('../img/bg_mod_st.png') no-repeat 0 -55px;
    line-height: 26px;
    *line-height: 28px;
    white-space: nowrap
}

.mod_st_main .mod_st_nav li {
    display: inline;
    float: left;
    margin-left: 7px
}

.mod_st_main .mod_st_nav li.spec {
    margin-left: 17px
}

.mod_st_main .mod_st_nav li ul, .mod_st_main .mod_st_nav li .mod_st_arrow {
    display: none
}

.mod_st_main .mod_st_nav li a {
    color: #FFF
}

.mod_st_main .mod_st_userinfo {
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 13px;
    width: 282px;
    height: 20px;
    color: #000;
    text-align: right
}

.mod_st_main .mod_st_userinfo a {
    margin-left: 3px
}

.mod_st_main .mod_st_userinfo .user_nick {
    display: inline-block;
    width: 120px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-align: right;
    vertical-align: top;
    *vertical-align: baseline;
    _vertical-align: middle
}

.mod_st_main .mod_st_userinfo .link_be_vip {
    display: inline-block;
    width: 77px;
    height: 20px;
    background: url('../img/bg_mod_st.png') no-repeat -88px -88px;
    vertical-align: top;
    *vertical-align: middle
}

.mod_st_main .mod_st_userinfo .link_be_vip:hover {
    background-position: -168px -88px
}

.mod_st_main .mod_st_userinfo .link_be_vip span {
    display: none
}

.mod_st_main .mod_st_userinfo .mod_btn_xf, .mod_st_main .mod_st_userinfo .mod_btn_vip {
    vertical-align: top
}

.mod_copyright {
    padding: 20px 0;
    line-height: 18px;
    text-align: center
}


.mod_hint_gb {
    _zoom: 1;
    position: relative;
    border-radius: 3px;
    border: 1px solid #FC9;
    background-color: #FFFFE3;
    line-height: 20px;
    font-size: 12px;
    color: #595959
}

.mod_hint_gb .mod_hint_gb_con {
    padding: 3px 30px 5px 10px;
    padding: 5px 30px 3px 10 px\9;
    _padding: 3px 30px 5px 10px
}

.mod_bubble_gb .mod_hint_gb_con {
    padding-right: 10px
}

.mod_hint_gb_op button {
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 10px;
    height: 10px;
    background: url('../img/mod_sprite.png') no-repeat -66px 0;
    text-indent: -999em;
    -webkit-transition: all 200ms ease-in-out
}

.mod_bubble_gb_arrow .arrow_1, .mod_bubble_gb_arrow .arrow_2, .mod_bubble_gb_arrow .arrow_3, .mod_bubble_gb_arrow .arrow_4, .mod_bubble_gb_arrow .arrow_5, .mod_bubble_gb_arrow .arrow_6, .mod_bubble_gb_arrow .arrow_7, .mod_bubble_gb_arrow .arrow_8 {
    overflow: hidden;
    position: absolute;
    background-image: url('../img/mod_sprite.png');
    background-repeat: no-repeat;
    line-height: 100px
}

.mod_bubble_gb_arrow .arrow_1 {
    left: 10px;
    top: -7px;
    width: 13px;
    height: 7px;
    background-position: -52px 0
}

.mod_bubble_gb_arrow .arrow_2 {
    left: -7px;
    top: 7px;
    width: 7px;
    height: 13px;
    background-position: -51px -7px
}

.mod_bubble_gb_arrow .arrow_3 {
    left: 10px;
    bottom: -7px;
    width: 13px;
    height: 7px;
    background-position: -52px -20px
}

.mod_bubble_gb_arrow .arrow_4 {
    right: -7px;
    top: 7px;
    width: 7px;
    height: 13px;
    background-position: -59px -7px
}

.mod_bubble_gb_arrow .arrow_5 {
    right: 10px;
    top: -7px;
    width: 13px;
    height: 7px;
    background-position: -52px 0
}

.mod_bubble_gb_arrow .arrow_6 {
    left: -7px;
    bottom: 7px;
    width: 7px;
    height: 13px;
    background-position: -51px -7px
}

.mod_bubble_gb_arrow .arrow_7 {
    right: 10px;
    bottom: -7px;
    width: 13px;
    height: 7px;
    background-position: -52px -20px
}

.mod_bubble_gb_arrow .arrow_8 {
    right: -7px;
    bottom: 7px;
    width: 7px;
    height: 13px;
    background-position: -59px -7px
}

@charset "utf-8";
.mod_btn_vip_em, .mod_btn_yearvip_em, .mod_btn_vip, .mod_btn_yearvip, .mod_btn_xf_em, .mod_btn_yearxf_em, .mod_btn_xf, .mod_btn_yearxf {
    overflow: hidden;
    display: inline-block;
    background-image: url('../img/bg_btn_vip.png');
    background-repeat: no-repeat;
    line-height: 200px;
    vertical-align: middle
}

.mod_btn_vip {
    width: 76px;
    height: 18px;
    background-position: 0 -80px
}

.mod_btn_vip:hover {
    background-position: 0 -100px
}

.mod_btn_vip_em {
    width: 133px;
    height: 35px;
    background-position: 0 0
}

.mod_btn_vip_em:hover {
    background-position: 0 -40px
}

.mod_btn_yearvip {
    width: 101px;
    height: 18px;
    background-position: -140px -80px
}

.mod_btn_yearvip:hover {
    background-position: -140px -100px
}

.mod_btn_yearvip_em {
    width: 175px;
    height: 35px;
    background-position: -140px 0
}

.mod_btn_yearvip_em:hover {
    background-position: -140px -40px
}

.mod_btn_xf {
    width: 76px;
    height: 18px;
    background-position: -320px -80px
}

.mod_btn_xf:hover {
    background-position: -320px -100px
}

.mod_btn_xf_em {
    width: 133px;
    height: 35px;
    background-position: -320px 0
}

.mod_btn_xf_em:hover {
    background-position: -320px -40px
}

.mod_btn_yearxf {
    width: 101px;
    height: 18px;
    background-position: -460px -80px
}

.mod_btn_yearxf:hover {
    background-position: -460px -100px
}

.mod_btn_yearxf_em {
    width: 175px;
    height: 35px;
    background-position: -460px 0
}

.mod_btn_yearxf_em:hover {
    background-position: -460px -40px
}

.mod_btn_normal, .mod_btn_strong, .mod_btn_disabled {
    display: inline-block
}

.mod_btn_normal span, .mod_btn_strong span, .mod_btn_disabled span {
    float: left
}

.mod_btn_normal, .mod_btn_normal span, .mod_btn_strong, .mod_btn_strong span, .mod_btn_disabled, .mod_btn_disabled span {
    cursor: pointer;
    overflow: hidden;
    height: 21px;
    background: #FFF url('../img/bg_control.png') no-repeat;
    white-space: nowrap;
    line-height: 21px;
    line-height: 23px\9;
    _line-height: 21px
}

.mod_btn_normal {
    padding-left: 10px;
    background-position: 0 -30px;
    text-decoration: none;
    color: #325E7F
}

.mod_btn_normal span {
    padding-right: 10px;
    background-position: 100% -30px
}

.mod_btn_strong {
    padding-left: 10px;
    background-position: 0 0;
    text-decoration: none;
    color: #FFF
}

.mod_btn_strong span {
    padding-right: 10px;
    background-position: 100% 0
}

.mod_btn_disabled {
    cursor: default;
    padding-left: 10px;
    background-position: 0 -144px;
    text-decoration: none;
    color: #999
}

.mod_btn_disabled span {
    cursor: default;
    padding-right: 10px;
    background-position: 100% -144px
}

.mod_btn_normal:hover, .mod_btn_normal:active, .mod_btn_strong:hover, .mod_btn_strong:active, .mod_btn_disabled:hover, .mod_btn_disabled:active {
    text-decoration: none
}

@charset "utf-8";
.mod_pop_gd_v3 {
    overflow: visible;
    position: fixed;
    _position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 0
}

.mod_pop_gd_v3 .mod_pop_wrap {
    overflow: hidden;
    position: relative;
    margin: auto;
    border: 2px solid #E1E1E1;
    background-color: #FFF;
    color: #595959;
    text-align: left;
    line-height: 20px;
    font-size: 12px
}

.mod_pop_gd_v3 .mod_pop_gd_hd, .mod_pop_gd_v3 .mod_pop_gd_hd button {
    background: url('../img/bg_pop.png') repeat-x
}

.mod_pop_gd_v3 .mod_pop_gd_hd {
    overflow: hidden;
    height: 27px;
    background-color: #EFEFEF;
    line-height: 27px
}

.mod_pop_gd_v3 .mod_pop_gd_hd h3 {
    display: inline;
    float: left;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400
}

.mod_pop_gd_v3 .mod_pop_gd_hd button {
    float: right;
    margin: 8px 10px 0 0;
    padding: 0;
    width: 10px;
    height: 9px;
    background-position: 0 -28px;
    text-indent: -999em
}

.mod_pop_gd_v3 .mod_pop_gd_bd {
    padding: 30px
}

.mod_pop_gd_v3 .mod_pop_gd_bd h4 {
    padding-bottom: 3px;
    font-size: 14px
}

.mod_pop_gd_v3 .mod_pop_gd_bd .single_row {
    padding-top: 12px
}

.mod_pop_gd_v3 .info_success, .mod_pop_gd_v3 .info_error, .mod_pop_gd_v3 .info_alert {
    padding-left: 70px;
    height: auto !important;
    height: 50px;
    min-height: 50px
}

.mod_pop_gd_v3 .info_success p, .mod_pop_gd_v3 .info_error p, .mod_pop_gd_v3 .info_alert p {
    padding-top: 2px
}

.mod_pop_gd_v3 .info_success {
    background: url('../img/ico_success.png') no-repeat -6px -5px
}

.mod_pop_gd_v3 .info_error {
    background: url('../img/ico_error.png') no-repeat -6px -5px
}

.mod_pop_gd_v3 .info_alert {
    background: url('../img/ico_tip.png') no-repeat -6px -5px
}

.mod_pop_gd_v3 .mod_hint_gb {
    margin-top: 20px
}

.mod_pop_gd_v3 .mod_pop_gd_ft {
    overflow: hidden;
    padding: 6px 0;
    height: 23px;
    background-color: #F3F3F3;
    text-align: center
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_em_pop, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_pop, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_dis_pop {
    margin: 0 5px
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_em_pop, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_pop, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_dis_pop {
    display: inline-block
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_em_pop span, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_pop span, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_dis_pop span {
    float: left
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_em_pop, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_em_pop span, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_pop, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_pop span, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_dis_pop, .mod_pop_gd_v3 .mod_pop_gd_ft .btn_dis_pop span {
    cursor: pointer;
    overflow: hidden;
    height: 23px;
    background-color: #FFF;
    background-image: url('../img/bg_pop.png');
    line-height: 23px;
    line-height: 25px\9;
    _line-height: 23px;
    white-space: nowrap
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_em_pop {
    padding-left: 10px;
    background-position: -40px -100px;
    color: #FFF;
    text-decoration: none
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_em_pop span {
    padding-right: 10px;
    background-position: 100% -100px
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_pop {
    padding-left: 10px;
    background-position: -40px -28px;
    color: #325E7F;
    text-decoration: none
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_fit_pop span {
    padding-right: 10px;
    background-position: 100% -28px
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_dis_pop {
    cursor: default;
    padding-left: 10px;
    background-position: -40px -76px;
    color: #B5B5B5;
    text-decoration: none
}

.mod_pop_gd_v3 .mod_pop_gd_ft .btn_dis_pop span {
    cursor: default;
    padding-right: 10px;
    background-position: 100% -76px
}

.mod_pop_mask {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50)
}

#iframe_mask {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    z-index: 997;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0)
}

@charset "utf-8";
.mod_userinfo_gb {
    font-size: 12px
}

.mod_userinfo_login_entry {
    overflow: hidden;
    display: block;
    margin: auto;
    width: 165px;
    height: 40px;
    background: url('../img/bg_userinfo.png') no-repeat 0 0;
    line-height: 200px
}

.mod_userinfo_basic {
    overflow: hidden;
    position: relative;
    padding-left: 54px;
    height: 44px;
    line-height: 20px
}

.mod_userinfo_avatar {
    position: absolute;
    left: 0;
    top: 0
}

.mod_userinfo_avatar img {
    padding: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #D4D4D4;
    background-color: #FFF
}

.mod_userinfo_name {
    margin-top: -2px
}

.mod_userinfo_name p {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.mod_userinfo_mark {
    overflow: hidden;
    zoom: 1;
    margin-top: 8px
}

.mod_userinfo_mark a {
    cursor: pointer;
    float: left;
    margin-right: 5px
}

.mod_userinfo_center {
    position: absolute;
    right: 0;
    top: -2px
}

.mod_userinfo_quit {
    position: absolute;
    right: 0;
    top: 25px
}

.ico_vip1, .ico_vip1_off, .ico_vip2, .ico_vip2_off, .ico_vip3, .ico_vip3_off, .ico_vip4, .ico_vip4_off, .ico_vip5, .ico_vip5_off, .ico_vip6, .ico_vip6_off, .ico_vip7, .ico_vip7_off, .ico_yearvip, .ico_yearvip_off, .ico_cft, .ico_cft_off, .ico_vip, .ico_vip_off {
    overflow: hidden;
    display: inline-block;
    width: 39px;
    height: 16px;
    background: url('../img/ico_level.png') no-repeat
}

.ico_vip1 {
    background-position: 0 0
}

.ico_vip2 {
    background-position: -44px 0
}

.ico_vip3 {
    background-position: -88px 0
}

.ico_vip4 {
    background-position: -132px 0
}

.ico_vip5 {
    background-position: -176px 0
}

.ico_vip6 {
    background-position: -220px 0
}

.ico_vip7 {
    background-position: -264px 0
}

.ico_vip1_off {
    background-position: 0 -30px
}

.ico_vip2_off {
    background-position: -44px -30px
}

.ico_vip3_off {
    background-position: -88px -30px
}

.ico_vip4_off {
    background-position: -132px -30px
}

.ico_vip5_off {
    background-position: -176px -30px
}

.ico_vip6_off {
    background-position: -220px -30px
}

.ico_vip7_off {
    background-position: -264px -30px
}

.ico_yearvip {
    width: 16px;
    background-position: -310px 0
}

.ico_yearvip_off {
    width: 16px;
    background-position: -310px -30px
}

.ico_cft {
    width: 16px;
    background-position: -350px 0
}

.ico_cft_off {
    width: 16px;
    background-position: -350px -30px
}

.ico_vip {
    width: 14px;
    background-position: 0 0
}

.ico_vip_off {
    width: 14px;
    background-position: 1px -30px
}


.mod_pagenav_gb_v2 {
    clear: both;
    overflow: hidden;
    height: 21px;
    line-height: 18px;
    text-align: center;
    font-size: 12px
}

.mod_pagenav_gb_v2 .mod_pagenav_main {
    display: inline
}

.mod_pagenav_gb_v2 .mod_pagenav_main a {
    color: #325e7f
}

.mod_pagenav_gb_v2 .mod_pagenav_main a:hover, .mod_pagenav_gb_v2 .mod_pagenav_main a:active {
    text-decoration: none
}

.mod_pagenav_gb_v2 .mod_pagenav_main a, .mod_pagenav_gb_v2 .mod_pagenav_main .current, .mod_pagenav_gb_v2 .mod_pagenav_main .mod_pagenav_disable {
    cursor: pointer;
    overflow: hidden;
    display: -moz-inline-box;
    display: inline-block;
    height: 18px;
    padding: 0 5px;
    background-color: #FFF;
    border: 1px solid #d5d5d5;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    line-height: 20px\9;
    _line-height: 18px
}

.mod_pagenav_gb_v2 .mod_pagenav_main .mod_pagenav_count a, .mod_pagenav_gb_v2 .mod_pagenav_main .mod_pagenav_count .current {
    line-height: 18px
}

.mod_pagenav_gb_v2 .mod_pagenav_main .current {
    cursor: default;
    background-color: #F4F4F4;
    color: #595959
}

.mod_pagenav_gb_v2 .mod_pagenav_main .mod_pagenav_disable {
    cursor: default;
    color: #999
}

.mod_pagenav_gb_v2 .mod_pagenav_option {
    display: inline;
    padding-left: 10px
}

.mod_pagenav_gb_v2 .mod_pagenav_turn {
    color: #999
}

.mod_pagenav_gb_v2 .mod_pagenav_turn input {
    margin: 0 3px;
    width: 30px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #d5d5d5;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    color: #595959;
    vertical-align: top;
    _margin-top: -1px;
    _vertical-align: middle
}

.mod_pagenav_gb_v2 .mod_pagenav_turn button {
    cursor: pointer;
    margin-left: 5px;
    padding: 0;
    width: 45px;
    height: 20px;
    background: url('../img/mod_sprite.png') no-repeat 0 0;
    vertical-align: top
}

.mod_pagenav_gb_v2 .mod_pagenav_turn button span {
    display: none
}

.mod_pagenav_gb_v2 .mod_pagenav_main .mod_pagenav_count2 a, .mod_pagenav_gb_v2 .mod_pagenav_main .mod_pagenav_count2 .current {
    display: inline;
    height: auto;
    padding: 0;
    border: 0 none;
    background-color: transparent;
    vertical-align: baseline
}

.mod_pagenav_count2 {
    display: none
}

.mod_pagenav_single .mod_pagenav_option {
    display: none
}

.mod_pagenav_simple .mod_pagenav_count {
    display: none
}

.mod_pagenav_simple .mod_pagenav_count2 {
    display: inline;
    padding: 0 10px;
    color: #999
}

@charset "utf-8";
.mod_share_1 a {
    overflow: hidden;
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url('../img/bg_share.png') no-repeat;
    vertical-align: middle;
    line-height: 16px
}

.mod_share_1 a span {
    display: none
}

.mod_share_1 a.ico_weibo {
    background-position: 0 -50px
}

.mod_share_1 a.ico_qzone {
    background-position: -40px -50px
}

.mod_share_1 a.ico_mail {
    background-position: -80px -50px
}

.mod_share_1 a.ico_qq {
    background-position: -120px -50px
}

.mod_share_1 a.ico_pengyou {
    background-position: -160px -50px
}

.mod_share_2 a {
    overflow: hidden;
    display: inline-block;
    width: 64px;
    height: 21px;
    background: url('../img/bg_share.png') no-repeat;
    vertical-align: middle;
    line-height: 21px
}

.mod_share_2 a span {
    display: none
}

.mod_share_2 a.ico_weibo {
    background-position: 0 -80px
}

.mod_share_2 a.ico_qzone {
    background-position: -70px -80px
}

.mod_share_2 a.ico_mail {
    background-position: -210px -80px
}

.mod_share_2 a.ico_qq {
    background-position: -140px -80px
}

.mod_share_2 a.ico_pengyou {
    background-position: -280px -80px
}

.mod_share_3 {
    display: block;
    position: relative;
    width: 70px
}

.mod_share_3 a:hover {
    text-decoration: none
}

.mod_share_3_btn {
    display: block;
    height: 21px;
    background: #FAFAFA;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E6E6E6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E6E6E6));
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #E6E6E6 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%, #E6E6E6 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%, #E6E6E6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E6E6E6', GradientType=0);
    background: linear-gradient(top, #FAFAFA 0%, #E6E6E6 100%);
    border: 1px solid #DCDCDC;
    line-height: 21px;
    line-height: 23px\9;
    text-indent: 10px
}

.mod_share_3_btn span {
    overflow: hidden;
    position: absolute;
    top: 9px;
    _top: 11px;
    right: 10px;
    border: 4px solid;
    border-color: #325D7D #F2F2F2 #F2F2F2;
    font: 0/0 "ËÎÌו"
}

.mod_share_3_list {
    width: 68px;
    border: 1px solid #DCDCDC;
    border-top: none;
    background-color: #FFF
}

.mod_share_3_list li a {
    display: block;
    height: 24px;
    line-height: 24px;
    line-height: 26 px\9
}

.mod_share_3_list li a:hover {
    background: #EEE
}

.mod_share_3_list li a span {
    display: inline;
    float: left;
    margin: 5px 5px 0 9px;
    _margin-top: 6px;
    width: 18px;
    height: 16px;
    background: url('../img/bg_share.png') no-repeat
}

.mod_share_3_list .ico_weibo {
    background-position: 0 -50px
}

.mod_share_3_list .ico_qzone {
    background-position: -40px -50px
}

.mod_share_3_list .ico_mail {
    background-position: -80px -50px
}

.mod_share_3_list .ico_qq {
    background-position: -120px -50px
}

.mod_share_3_list .ico_pengyou {
    background-position: -160px -50px
}

@charset "utf-8";
.mod_scroll_1 {
    overflow: hidden;
    position: relative;
    padding: 0 60px
}

.mod_scroll_1 button {
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -25px;
    width: 29px;
    height: 49px;
    background-image: url('../img/bg_control.png');
    background-repeat: no-repeat;
    text-indent: -999px
}

.mod_scroll_1_prev {
    left: 10px;
    background-position: 0 -90px
}

.mod_scroll_1_next {
    right: 10px;
    background-position: -50px -90px
}

.mod_scroll_1_area_1 {
    overflow: hidden;
    margin-bottom: 10px
}

.mod_scroll_1_area_1 ul {
    overflow: hidden;
    zoom: 1
}

.mod_scroll_1_area_1 li {
    float: left;
    width: 100%
}

.mod_scroll_1_area_1 li img {
    display: block;
    width: 100%;
    height: 100%
}

.mod_scroll_1_area_2 {
    overflow: hidden;
    zoom: 1;
    height: 18px;
    line-height: 18px
}

.mod_scroll_1_info {
    overflow: hidden;
    float: left;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20 px\9
}

.mod_scroll_1_nav {
    overflow: hidden;
    float: right;
    width: 30%;
    height: 18px;
    text-align: right
}

.mod_scroll_1_nav a {
    overflow: hidden;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/bg_control.png') no-repeat 0 -60px;
    text-align: center;
    font-weight: 700;
    color: #FFF
}

.mod_scroll_1_nav a.current {
    background-position: -40px -60px;
    color: #333
}

.mod_scroll_1_nav a:active, .mod_scroll_1_nav a:hover {
    text-decoration: none
}

.mod_scroll_2 {
    position: relative
}

.mod_scroll_2_area {
    overflow: hidden;
    position: relative
}

.mod_scroll_2_area li {
    float: left;
    width: 100%
}

.mod_scroll_2_area li img {
    display: block;
    width: 100%;
    height: 100%
}

.mod_scroll_2 button {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 15px;
    height: 24px;
    background-image: url('../img/bg_control.png');
    background-repeat: no-repeat;
    text-indent: -999px
}

.mod_scroll_2_prev {
    left: 10px;
    background-position: -100px -90px
}

.mod_scroll_2_next {
    right: 10px;
    background-position: -145px -90px
}

.mod_scroll_3 {
    overflow: hidden;
    zoom: 1
}

.mod_scroll_3 a {
    overflow: hidden;
    display: inline;
    float: left;
    margin: 3px 5px 0 0;
    width: 8px;
    height: 8px;
    background-color: #9C9C9C
}

.mod_scroll_3 a span {
    display: none
}

.mod_scroll_3 a.current {
    background-color: red
}

.mod_scroll_3 button {
    overflow: hidden;
    cursor: pointer;
    display: inline;
    float: left;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    background-image: url('../img/bg_control.png');
    background-repeat: no-repeat
}

.mod_scroll_3 button span {
    display: none
}

.mod_scroll_3_prev {
    background-position: -80px -60px;
    left: 10px
}

.mod_scroll_3_next {
    background-position: -120px -60px;
    right: 10px
}

@charset "utf-8";
.mod_scrolllist_1 {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 980px
}

.mod_scrolllist_1_area {
    overflow: hidden;
    position: relative;
    margin: 0 45px;
    width: 890px
}

.mod_scrolllist_1_pic {
    overflow: hidden;
    zoom: 1
}

.mod_scrolllist_1_pic li {
    overflow: hidden;
    display: inline;
    float: left;
    margin-right: 35px;
    width: 150px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mod_scrolllist_1_pic li img {
    display: block;
    width: 150px;
    height: 85px
}

.mod_scrolllist_1 button {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 35px;
    width: 15px;
    height: 24px;
    background-image: url('../img/bg_control.png');
    background-repeat: no-repeat
}

.mod_scrolllist_1 button span {
    display: none
}

.mod_scrolllist_1_prev {
    left: 10px;
    background-position: -100px -90px
}

.mod_scrolllist_1_next {
    right: 10px;
    background-position: -145px -90px
}

@charset "utf-8";
.mod_review {
    position: relative
}

.mod_review_btn {
    text-align: right
}

.mod_review_btn a {
    overflow: hidden;
    display: inline-block;
    width: 132px;
    height: 41px;
    background: url('../img/bg_share.png') no-repeat 0 0;
    line-height: 500px
}

.mod_review_btn a.current {
    background-position: -150px 0
}

.mod_review_list {
    padding: 10px 15px;
    border: 2px solid #FFF;
    background-color: #000;
    filter: alpha(opacity=80);
    opacity: .8
}

.mod_review_list li a {
    word-break: keep-all;
    white-space: nowrap;
    line-height: 25px;
    color: #FFF
}

.pop_mod, .pop_mod_em {
    position: absolute;
    z-index: 999;
    border: 2px solid #E1E1E1;
    background-color: #FFF;
    color: #666;
    text-align: left
}

.pop_mod_em {
    border: 2px solid #7f7f7f;
    background-color: #3a3a3a;
    color: #BABABA
}

.pop_mod .hd, .pop_mod .hd button, .pop_mod_em .hd, .pop_mod_em .hd button {
    background: url('../img/bg_pop_v3.png') repeat-x
}

.pop_mod .hd, .pop_mod_em .hd {
    overflow: hidden;
    height: 44px;
    background: #EFEFEF;
    line-height: 44px
}

.pop_mod_em .hd {
    background-color: #3e3e3e;
    background-position: 0 -100px
}

.pop_mod .hd h3, .pop_mod_em .hd h3 {
    display: inline;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    color: #368897;
    font-weight: 400
}

.pop_mod_em .hd h3 {
    color: #fff
}

.pop_mod .hd button, .pop_mod_em .hd button {
    float: right;
    margin: 11px 17px 0 0;
    padding: 0;
    width: 19px;
    height: 18px;
    background-position: 0 -28px;
    text-indent: -999em;
    cursor: pointer;
    -webkit-transition: all .5s ease-out
}

/*  |xGv00|02467fd2f465fc4995f3603153725d9d */